* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-conntainer {
    min-width: 100%;
    height: 50vh;
}

.logo {
    height: 60px;
    width: auto;
}

.banner {
    height: 63%;

    margin: 0px;
    padding: 0px;

}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin: 0px;
    padding-top: 1rem;
    padding-left: 1rem;
}


.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

}

.logo {
    display: flex;
    align-items: center;
    flex-direction: row;


}

.logo>img {
    height: 100px;
    width: 150px;

}

.item1 {
    padding: 5rem 4rem 2rem 8rem;
    display: flex;
    flex-direction: column;
}

.btn-login {
    padding: 10px 2rem;
    outline: none;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    font-weight: 100;


}

.btn-signup {
    padding: 5px 2rem;
    outline: none;
    background-color: black;
    border: none;
    font-size: 1.2rem;
    font-weight: 100;
    color: white;


}

.h1 {
    margin-bottom: 0px;
    margin-top: 50px;
    flex-direction: column;
}

.h2 {
    color: gray;
    margin-top: 0px;
    flex-direction: column;

}

.btn-location:hover {
    background-color: lightgrey;
}

.findfood {
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    color: white;
    letter-spacing: 1;
    background-color: rgb(255, 165, 0);
    height: 100%;
    padding: 0 2rem;
    border: none;

}

.cities {
    font-size: 15px;
    color: gray;
    margin: 30px 0 10px 0;
    letter-spacing: -.2px;
    text-transform: uppercase;
}

.citylist {
    width: 570px;
    list-style: none;
    margin-top: 20px;
}

.list {
    font-weight: 600;
    font-size: 16px;
    margin-right: 10px;
    color: #686b78;
    line-height: 1.5;
    letter-spacing: -.3px;
    text-decoration: none;
}

.list:nth-child(even) {
    color: lightslategray;
}

.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3rem;
    margin-top: 1.5rem;
    border: 1px solid orange;
    justify-content: space-between;

}

.text-container {
    margin-top: 50px;
}

.location-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    padding: 5px 0px;


}

.locationicon {
    height: 100%;
    padding: 0px 10px;
    border: none;
    outline: none;
    width: 300px;
}

.location {
    height: 100%;
    border: none;
    padding: 0px 10px;
    background-color: transparent;
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.findfood-container {
    height: 100%;
}

.location:hover {
    background-color: gray;
    cursor: pointer;

}

.location>span {
    white-space: nowrap;
}

.info-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(13, 2, 2);
    font-size: 16px;
    font-weight: 200;
    margin-top: 10%;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;

}

.text-head {
    color: white;
    text-align: center;
    margin-top: 50px;
}

.text-detail {
    color: white;
    text-align: center;
    margin-top: 30px;
    padding: 50px;
    font-size: 14px;
    font-weight: 400;
}